<div class="container fixed-bottom footer-linear" style="margin-bottom:50px;">
  <div class="row mt-4" style="color:#FFF;">
    <div class="col-sm text-center">
      <%= link_to "About", about_path %>
    </div>
    <div class="col-sm text-center">
      <% if Current.user %>
           <%= "Hello " + Current.user.nickname %>
           <%= link_to 'logout', logout_path, method: :delete %>
      <% else %> 
          <%= link_to "Sign up", sign_up_path %> / 
          <%= link_to "Log in", sign_in_path %>    
      <% end %>
    </div>
    <div class="col-sm text-center">
      <%= link_to "Home", root_path %> 
    </div>
  </div>
</div>